.idea
.vscode

build
data/examples
data/voc0712
data/coco2014
data/coco2017
figure
dist
results
tb_logger
wandb
yolov3_pytorch.egg-info

.DS_Store
*.pth
*.pt
*.pth.tar
*.weights
*.tar
*.tar.gz
*.zip
*.jpg
*.jpeg
*.png
*.bmp